
canvas{ 
 
        
}
body{
   background-image: url(/images/patrick-tomasso-QMDap1TAu0g-unsplash.jpg);
   background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
  }

#snakeboard{
      position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important; 
        background-color: burlywood;
}
#score{
      text-align: center !important;
        font-size: 140px !important;   
}